[mysqld]

#Definim l'usuari que executara el servidor
#user = mysql

#Arxiu PID del servidor
#pid-file = /var/run/mysqld/mysqld.pid

#Socket per a la comunicacio local
#socket = /var/run/mysqld/mysqld.sock

#Port per escoltar les conexions amb el Wordpress
#port = 3306

#Directori base de la instalacio
#basedir = /usr

#Directori on s'emmagatzemen les dades
#datadir = /var/lib/mysql

#Directori per als arxius temporals
#tmpdir = /tmp

#Directori per errors, warnings,...
#lc-messages-dir = /usr/share/mysql

#Configura el servidor per aceptar conexions desde qualsevol IP
bind-address = 0.0.0.0
